body {
    background-color: rgba(0, 0, 0, 0.877);
    font-family:'Courier New', Courier, monospace;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    font-size: 80px;
    font-weight: bold;
    border-bottom: solid white 4px;
    display: flex;
    justify-content: center;
}

.button {
    background-color: transparent;
    height: 100px;
    width: 100px;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: solid white 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}